In [1]:
import pickle
import pandas as pd
import numpy as np
import os

from db import DBManager, Asset, Tick, Timestep, ENVIRONMENT, MANAGER_ERROR
from bitfinex import load_ticks
from utils import process_ticks, compute_latest_stats, generate_timesteps_from_ticks

def load_pickle(filename):
    data = None
    with open(filename, 'rb') as file:
        data = pickle.load(file)
    # close the file
    file.close()
    return data

def to_datetime(date):
    """
    Converts a numpy datetime64 object to a python datetime object 
    Input:
      date - a np.datetime64 object
    Output:
      DATE - a python datetime object
    """
    timestamp = ((date - np.datetime64('1970-01-01T00:00:00'))
                 / np.timedelta64(1, 's'))
    return datetime.utcfromtimestamp(timestamp)

manager: DBManager = DBManager(environment=ENVIRONMENT.PREPROD)

files = list(os.walk('./'))[0][2]
files[11]

'myhistory.ipynb'

In [ ]:
df = pd.read_pickle('./'+files[11])
df.head()

In [2]:
#df.drop(columns=['ts'], inplace=True)
#df['asset'] = 'btcusd'
msg, last_tick, last_timestep = manager.get_latest_timestamp(asset = 'btcusd')

msg, last_tick, last_timestep

(<MANAGER_ERROR.SUCCESS: 0>,
 datetime.datetime(2024, 1, 1, 17, 41, tzinfo=Timezone('UTC')),
 datetime.datetime(2024, 1, 1, 17, 30, tzinfo=Timezone('UTC')))

In [3]:
from datetime import datetime
msg, ticks = manager.get_ticks_after_last_timestep(latest_timestep_ts=last_timestep)

In [4]:
ticks.head()

,date,o,h,l,c,v,asset
0,2024-01-01 17:31:00,42799.0,42799.0,42789.0,42789.0,0.071000,Asset.btcusd
1,2024-01-01 17:32:00,42789.0,42796.0,42769.0,42769.0,1.139109,Asset.btcusd
2,2024-01-01 17:33:00,42762.0,42762.0,42762.0,42762.0,0.070000,Asset.btcusd
3,2024-01-01 17:34:00,42762.0,42764.0,42762.0,42764.0,0.070100,Asset.btcusd
4,2024-01-01 17:35:00,42769.0,42769.0,42769.0,42769.0,0.070000,Asset.btcusd

In [ ]:
import pendulum

utc = pendulum.timezone('utc')

ticks['date'].iloc[0].timestamp(), last_timestep, last_timestep.timestamp(), utc.convert(last_timestep)

In [ ]:
ticks['date'].iloc[0], ticks['date'].iloc[0].timestamp(), utc.convert(ticks['date'].iloc[0]).timestamp()

In [ ]:
df[df.duplicated()].head()

In [ ]:
count = df[[d.to_pydatetime().timestamp() > last_tick.timestamp() for d in df.index]].to_sql(name='tick', con=manager.engine, if_exists='append')
count

In [2]:
a = []

a.extend([1])

In [4]:
a.extend([2])

In [5]:
a

[1, 2]

In [6]:
b = [{'a': 1, 'b': 3}, {'a': 11, 'b': 31}]

In [10]:
b_a = [i['a'] for i in b]

In [13]:
import numpy as np

np.sum(b_a)

12

In [20]:
not(100 % 10)

True

In [30]:
",".join([str(int(i)+4) for i in "1,31".split(',')])

'5,35'

In [33]:
from datetime import datetime, timedelta

now = datetime.now()
then = now + timedelta(minutes=30)

then - now > timedelta(minutes=29)

True

In [34]:
import pandas as pd

df = pd.DataFrame({'a': [i for i in range(100)], 'b': [i*3-10 for i in range(100)]})

In [35]:
df.head()

   a   b
0  0 -10
1  1  -7
2  2  -4
3  3  -1
4  4   2

In [42]:
df.index[-1], df.iloc[-1]['a']

(99, 99)

In [41]:
df.tail()

     a    b
95  95  275
96  96  278
97  97  281
98  98  284
99  99  287